<!--  ---------- Add Asset Button and  Search Bar   ------------   -->

<div class="button-grp">
    <button type="button" class="btn btn-primary add-asset-btn" data-toggle="modal" data-target="#addAssetModal">Add
        Asset</button>
    <div id="search-component">
        <div class="input-group input-group-sm ">
            <input type="text" #searchBox id="search-box" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" class="form-control" placeholder="Search Asset"
                (input)="search(searchBox.value)" />
        </div>
    </div>
</div>

<!--   -------------   add Asset Modal    -------------  -->

<div class="modal fade " id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addAssetForm" (ngSubmit)="addAsset()">
                    <div class="form-group">
                        <label for="assetName" class="col-form-label">Asset Name:</label>
                        <input type="text" id="assetName" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="assetUnId" class="col-form-label">Asset Unique Id:</label>
                        <input type="text" id="assetUnId" class="form-control" formControlName="unid">
                    </div>
                    <div class="form-group">
                        <label for="assetCategory" class="col-form-label">Asset Category:</label>
                        <select name="assetCategory" id="assetCategory" formControlName="category">
                            <option value="mobile">Mobile</option>
                            <option value="laptop">Laptop</option>
                            <option value="desktoppc">Desktop PC</option>
                            <option value="book">Book</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="sbmtBtn" class="btn btn-primary" [disabled]="!addAssetForm.valid">Add
                            Asset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!----------------------- Employees List -------------------->
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-responsive-sm">
        <thead class="bg-primary">
            <tr>
                <th class="heading" scope="col">A. ID</th>
                <th class="heading" scope="col">Asset Name</th>
                <th class="heading" scope="col">Asset Category</th>
                <th class="heading" scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asset of searchedAssets$ | async ">
                <td>{{asset.id}}</td>
                <td><a routerLink="/admin-asset/detail/{{asset.id}}" class="asset-link">
                        {{asset.assetName}}
                    </a></td>
                <td>{{asset.assetCategory}}</td>
                <td
                    [class]="{'bg-success':asset.status=='Available','bg-danger':asset.status=='Assigned','bg-secondary':asset.status=='On Repair'}">
                    {{asset.status}}</td>
            </tr>
            <tr *ngFor="let asset of assets">
                <td>{{asset.id}}</td>
                <td><a routerLink="/admin-asset/detail/{{asset.id}}" class="asset-link">
                        {{asset.assetName}}
                    </a></td>
                <td>{{asset.assetCategory}}</td>
                <td
                    [class]="{'bg-success':asset.status=='Available','bg-danger':asset.status=='Assigned','bg-secondary':asset.status=='On Repair'}">
                    {{asset.status}}</td>
            </tr>
        </tbody>
    </table>
</div>