<!-- -------------------Button Group -------------- -->
<div class="button-grp">
    <a class="btn btn-grey assign-asset-btn" routerLink="/admin-asset/asset-history/{{asset?.id}}">View Full History</a>
    <button type="button" *ngIf="asset?.status=='On Repair'" class="btn btn-primary assign-asset-btn"
        data-toggle="modal" data-target="#statusChangeBackdrop"
        [disabled]="asset?.status=='Assigned'">Available</button>
    <button type="button" *ngIf="asset?.status=='Available'" class="btn btn-primary assign-asset-btn"
        data-toggle="modal" data-target="#statusChangeBackdrop" [disabled]="asset?.status=='Assigned'">On
        Repair</button>
    <button type="button" *ngIf="asset?.status=='Available'" class="btn btn-info assign-asset-btn" data-toggle="modal"
        data-target="#editAssetModal" [disabled]="asset?.status=='Assigned'">Edit</button>
    <button type="button" class="btn btn-danger assign-asset-btn" data-toggle="modal" data-target="#removeAssetBackdrop"
        [disabled]="asset?.status!='Available'">Delete
        Asset</button>
</div>

<!-- --------------------Info Table----------------------- -->

<table class="table table-light table-borderless">
    <thead class="thead-light">
        <tr>
            <th scope="col">Asset Name</th>
            <th scope="col">{{asset?.assetName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-info">
            <th scope="row">Asset ID</th>
            <td>{{asset?.id}}</td>
        </tr>
        <tr class="bg-light">
            <th scope="row">Asset Category</th>
            <td>{{asset?.assetCategory}}</td>
        </tr>
        <tr class="bg-info">
            <th scope="row">Asset Unique ID</th>
            <td>{{asset?.assetUniqueId}}</td>
        </tr>
        <tr class="bg-light">
            <th scope="row">Asset Buy Date</th>
            <td>{{asset?.buyDate | date:'mediumDate'}}</td>
        </tr>
        <tr class="bg-info">
            <th scope="row">Asset Status</th>
            <td>{{asset?.status}}</td>
        </tr>

        <tr *ngIf="asset?.issuedEmployeeName" class="bg-light">
            <th scope="row">Issued Employee Name</th>
            <td><a routerLink="/admin-emp/detail/{{asset.issuedEmployeeId}}" class="employee-link">
                    {{asset.issuedEmployeeName}}
                </a></td>
        </tr>
        <tr *ngIf="!asset?.issuedEmployeeName" class="bg-light">
            <th scope="row">Issued Employee Name</th>
            <td>Not Applicable</td>
        </tr>
        <tr class="bg-info">
            <th scope="row">Issued Employee Id</th>
            <td>{{asset?.issuedEmployeeId || "Not Applicable"}}</td>
        </tr>
        <tr *ngIf="asset?.issueDate" class="bg-light">
            <th scope="row">Issue Date</th>
            <td>{{asset?.issueDate | date:'medium'}}</td>
        </tr>
        <tr *ngIf="!asset?.issueDate" class="bg-light">
            <th scope="row">Issue Date</th>
            <td>Not Applicable</td>
        </tr>
        <tr *ngIf="asset?.submissionDate" class="bg-info">
            <th scope="row">Submission Date</th>
            <td>{{asset?.submissionDate | date:'medium' || "Not Applicable"}}</td>
        </tr>
        <tr *ngIf="!asset?.submissionDate" class="bg-info">
            <th scope="row">Submission Date</th>
            <td>Not Applicable</td>
        </tr>
    </tbody>
</table>

<!--------------------------- Status Change Backdrop ---------------->

<div class="modal fade" id="statusChangeBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Change Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure ! To change Status ???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" (click)="changeStatus()" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<!--------------------------- Remove Asset Backdrop ---------------->

<div class="modal fade" id="removeAssetBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Remove Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure ! You want to remove this Asset ???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" (click)="deleteAsset()" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!--   -------------   edit Asset Modal    -------------  -->

<div class="modal fade" id="editAssetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Asset Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!----------------------------- Form--------------------- -->
                <form (ngSubmit)="editAsset()" [formGroup]="editAssetForm">
                    <div class="form-group">
                        <label for="asset-name" class="col-form-label">Asset Name :</label>
                        <input type="text" formControlName="newName" id="asset-name" class="form-control">
                        <label for="asset-id" class="col-form-label">Asset Unique ID :</label>
                        <input type="text" formControlName="newUniqueId" id="asset-id" class="form-control">
                    </div>
                    <hr>
                    <h6 class="form-info">* UniqueID must not contain whitespaces</h6>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" [disabled]="!editAssetForm.valid" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>