/* -------Button Group--------- */

.button-grp {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 40px;
    margin-right: 5vw;
}

.assign-asset-btn {
    margin-left: 1vw;
}

.btn-primary {
    background-color: #40bad5;
    border-color: #40bad5;
}

.btn-danger {
    color: #fff;
    background-color: #e84a5f;
    border-color: #e84a5f;
}
.btn-grey{
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}

/* ----------Table---------- */

.table {
    width: 70vw;
    margin: 5vh auto;
}

.table td {
    font-weight: bold;
}

.employee-link {
    text-decoration-line: none;
    font-style: italic;
    font-weight: bold;
    color: rgb(20, 3, 53);
}

/* edit asset form */

.form-info {
    font-size: x-small;
    color: orange;
}