/*------------------ Form Box --------------*/

.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid black;
    margin: 15vh auto;
    margin-bottom: 0px;
    max-width: 280px;
    min-height: 50vh;
    border-radius: 10px;
}


/* -------------Input Tags ------------------- */

.formElement {
    display: block;
    margin: 1rem auto;
}

.inputEle {
    border-radius: 15px;
    padding: 2px 15px;
    width: 100%;
}

.inputEle:focus {
    outline: none;
}


/* -----------------Submit Button------------------ */

.btnSbmt {
    display: block;
    width: 100%;
    color: black;
    background-color: #007bff;
    margin: 2rem auto;
    border-radius: 15px;
    border: 1px solid rebeccapurple;
    height: 2rem;
}

.btnSbmt:focus {
    outline: none;
}


/* -------------  alert  ------------------- */

.danger {
    border: 2px solid red;
}

.success {
    border: 2px solid green;
}

.success:focus {
    border: 3px solid green;
}

.danger:focus {
    border: 3px solid red;
}


/* ------------------Media Queries------------ */

@media (max-width:284px) {
    .formDiv {
        margin: 15vh 10px;
        margin-bottom: 0px;
    }
    .formElement {
        margin-left: 10px;
        margin-right: 10px;
    }
}