<!-------------------- Request Asset---------------- -->

<div class="button-grp">
    <button type="button" class="btn btn-primary add-emp-btn" data-toggle="modal"
        data-target="#requestAssetModal">Request
        Asset</button>
</div>

<!--------------------- Asset Table ---------------------->
<span class="table-caption">Assigned Assets</span>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-responsive-sm">
        <thead class="bg-primary">
            <tr>
                <th scope="col" class="heading">#</th>
                <th scope="col" class="heading">Asset Name</th>
                <th scope="col" class="heading">Issue Date</th>
                <th scope="col" class="heading">Submission Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asset of assetList; index as ind ; trackBy:trackById">
                <td style="font-weight: bold;">{{ind+1}}</td>
                <td>{{asset?.assetName}}</td>
                <td>{{asset?.issueDate | date:'medium'}}</td>
                <td>{{asset?.submissionDate | date:'medium' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<!--   -------------   Request Asset Modal    -------------  -->

<div class="modal fade" id="requestAssetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Request Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!----------------------------- Search--------------------- -->

                <div id="search-component">
                    <div class="ass-selection">
                        <div class="input-group input-group-sm ">
                            <input type="text" #searchBox id="search-box" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" class="form-control"
                                placeholder="Search Asset" (input)="search(searchBox.value)" />
                        </div>

                        <!--   ------------ Search Result List -----------   -->
                        <ul class="search-result">
                            <li *ngFor="let asset of searchedAssets$ | async; trackBy:trackById">
                                <a routerLink="/admin-asset/detail/{{asset.id}}">
                                    {{asset.assetName}}
                                </a>
                                <button (click)="addSelectedAssets(asset)">+</button>
                            </li>
                        </ul>

                    </div>
                    <span style="margin:auto">&#8594;</span>
                    <div class="selected-assets">
                        <ul class="search-result">
                            <li *ngIf="selectedAsset">
                                {{selectedAsset.assetName}}
                            </li>
                        </ul>
                    </div>
                </div>
                <form (ngSubmit)="requestAsset()" [formGroup]="requestAssetForm">
                    <div class="form-group">
                        <label for="sub-date" class="col-form-label">Submission Date:</label>
                        <input type="date" formControlName="submissionDateInput" id="sub-date" [min]="getTodayDate()"
                            class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" (click)="clearAsset()">Clear Asset</button>
                        <button type="submit" class="btn btn-primary" (click)="searchBox.value=''"
                            [disabled]="!requestAssetForm.valid || !selectedAsset">Request</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>