/*----------- Admin Title------------- */

#adminTitle {
    text-align: center;
    color: rgb(9, 90, 90);
}


/*----------- Roting Navigation ------------- */

.router-link {
    margin: 0px 7px;
    border-radius: 4px;
    padding: .375rem .75rem;
    background-color: #cfd3d5;
    text-decoration: none;
    color: black;
}

.router-link:hover {
    color: blue;
}

.active {
    color: blue;
}


/*----------- hr line ------------- */

.separator-line {
    margin: 10px 0px;
}