<!--------------- Employee Info------------------ -->
<div class="info-div">
    <h1 class="info-line"><span class="name-label">Employee Id : </span><span
            class="label-value">{{employee?.id}}</span></h1>
    <h1 class="info-line float-right"><span class="name-label">Employee Name : </span><span
            class="label-value">{{employee?.name}}</span></h1>
</div>

<hr class="separator-line">

<!-- ------------------Assign Asset Button--------- -->

<div class="button-grp">
    <button type="button" class="btn btn-primary assign-asset-btn" data-toggle="modal"
        data-target="#assignAssetModal">Assign
        Asset</button>
    <button type="button" class="btn btn-danger assign-asset-btn" data-toggle="modal"
        data-target="#removeEmpBackdrop">Delete
        Employee</button>

</div>

<!--------------------- Asset Table ---------------------->

<span class="table-caption">Assigned Assets</span>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-responsive-sm">
        <thead class="bg-primary">
            <tr>
                <th class="heading" scope="col">#</th>
                <th class="heading" scope="col">Asset Name</th>
                <th class="heading" scope="col">Issue Date</th>
                <th class="heading" scope="col">Submission Date</th>
                <th class="heading" scope="col">Un-Assign</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asset of assetList; index as i">
                <td>{{i+1}}</td>
                <td><a class="asset-link" routerLink="/admin-asset/detail/{{asset.id}}">{{asset.assetName}}</a>
                </td>
                <td>{{asset.issueDate | date:'medium'}}</td>
                <td>{{asset.submissionDate | date:'medium'}}</td>
                <td>
                    <button type="button" (click)="setUnassignAssetId(asset.id)"
                        class="remove-badge badge badge-primary badge-pill" data-toggle="modal"
                        data-target="#unassignAssetBackdrop">X
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--------------------------- Unassign Asset Backdrop ---------------->

<div class="modal fade" id="unassignAssetBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Remove Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure ! You want to Un-assign this Asset from Employee ???
            </div>
            <div class="modal-footer">
                <button type="button" (click)="resetUnassignAssetId()" class="btn btn-secondary"
                    data-dismiss="modal">No</button>
                <button type="button" (click)="unassignAsset()" class="btn btn-primary"
                    data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------- Remove Employee Backdrop ---------------->

<div class="modal fade" id="removeEmpBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Remove Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure ! You want to remove this employee ???
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" (click)="deleteEmployee()" class="btn btn-primary"
                    data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<!--   -------------   assign Asset Modal    -------------  -->

<div class="modal fade" id="assignAssetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Assign Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!----------------------------- Search--------------------- -->

                <div id="search-component">
                    <div class="ass-selection">
                        <div class="input-group input-group-sm ">
                            <input type="text" #searchBox id="search-box" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" class="form-control"
                                placeholder="Search by Name/Category" (input)="search(searchBox.value)" />
                        </div>

                        <!--   ------------ Search Result List -----------   -->
                        <ul class="search-result">
                            <li *ngFor="let asset of searchedAssets$ | async">
                                <a routerLink="/admin-asset/detail/{{asset.id}}">
                                    {{asset.assetName}}
                                </a>
                                <button (click)="addSelectedAssets(asset)">+</button>
                            </li>
                        </ul>

                    </div>
                    <span style="margin:auto">&#8594;</span>
                    <div class="selected-assets">
                        <ul class="search-result">
                            <li *ngFor="let asset of selectedAssets">
                                {{asset.assetName}}
                            </li>
                        </ul>
                    </div>
                </div>
                <form (ngSubmit)="assignAsset()" [formGroup]="assignAssetForm">
                    <div class="form-group">
                        <label for="sub-date" class="col-form-label">Submission Date:</label>
                        <input type="date" formControlName="submissionDateInput" id="sub-date" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" (click)="clearAsset()">Clear Asset</button>
                        <button type="submit" class="btn btn-primary" (click)="searchBox.value=''"
                            [disabled]="!assignAssetForm.valid || !selectedAssets">Assign</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>