/*----------- Add Employee Button and Search Bar ------------- */

.btn-primary {
    background-color: #40bad5;
    border-color: #40bad5;
}

.button-grp {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5vw;
}

#search-box {
    width: auto;
}

#search-component {
    margin-right: 5px;
}

/* ----------- Employees Table----------- */

.table {
    margin: 0px;
}

.my-custom-scrollbar {
    width: 90vw;
    margin: 3vh auto;
    position: relative;
    max-height: 60vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
    border: 1px solid #dee2e6;
}

.heading {
    background-color: #bbbbbb;
    position: sticky;
    top: 0px;
    text-align: center;
}

.table td {
    text-align: center;
}

.employee-link {
    text-decoration-line: none;
}

/* ----------Add Employee Modal ------------ */

.form-control {
    padding-right: 2px;
    padding-left: 8px;
}

.form-info {
    font-size: x-small;
    color: orange;
}

/* -------Media Queries------------------ */

@media (max-width:312px) {
    .button-grp {
        margin: 10px 10px;
    }
    .form-control {
        max-width: 120px;
    }
}

@media (min-width:400px) {
    .add-emp-btn {
        max-height: 40px;
    }
}