<nav class="navbar navbar-expand-sm navbar-light ">
    <a class="navbar-brand">AMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0 float-right" (click)="logout()">Logout</button>
    </div>

</nav>
<router-outlet></router-outlet>